<div class="change-container">
    <div class="container border border-3 rounded mt-5">
      <div class="row">
        <div class="col-xs-12 p-3">
          <h4 class="text-center" class="tite-color">MODIFIER MOT DE PASSE</h4><br>
              <form [formGroup]="userForm">
                  <div class="col-md-12">
                    <div class="alert" *ngIf="success">
                      <img src="../../../../assets/img/check-circle.gif" alt="checking" class="img-fluid" width="40" height="30" />
                      <strong class="mt-3 ml-1 text-primary">Le mot de passe a été modifié</strong>
                  </div>
                  <div class="form-group">
                      <label class="form-label"><span class="text-danger">* </span>Nouveau mot de passe</label>
                      <div class="input-group">
                          <input class="form-control form-control-lg" [type]="fieldTextType ? 'text' : 'password'" name="plainPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,25}$" placeholder="" [formControl]="plainPassword"  required />
                          <div class="input-group-append">
                              <span class="input-group-text viewheight">
                                  <i
                                      class="bi"
                                      [ngClass]="{
                                      'bi-eye-slash': !fieldTextType,
                                      'bi-eye': fieldTextType
                                      }"
                                      (click)="toggleFieldTextType()"
                                  ></i>
                              </span>
                          </div>
                      </div>
  
                      <div *ngIf="!plainPassword.valid && (plainPassword.dirty || plainPassword.touched)"
                          class="alert alert-danger">
                              Indiquez votre mot de passe !
                              Il doit contenir,<br>
                              Au moins: 1 majuscule, 1 miniscule, 1 chiffre, 1 symbole<br>
                              Minimum: 6 caractères ; Maximum: 12 caractères
                      </div><br>
  
                  </div>
                  <div class="form-group">
                      <label class="form-label"><span class="text-danger">* </span>Confirmer mot de passe</label>
                      <div class="input-group">
                          <input class="form-control form-control-lg" [type]="fieldTextType ? 'text' : 'password'" name="confirmPlainPassword" appConfirmEqualValidator="plainPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,25}$" placeholder="" [formControl]="confirmPlainPassword"  required />
                            <div class="input-group-append">
                              <span class="input-group-text viewheight">
                                  <i
                                      class="bi"
                                      [ngClass]="{
                                      'bi-eye-slash': !fieldTextType,
                                      'bi-eye': fieldTextType
                                      }"
                                      (click)="toggleFieldTextType()"
                                  ></i>
                              </span>
                            </div>
                      </div>
  
                      <div *ngIf="!confirmPlainPassword.valid && (confirmPlainPassword.dirty || confirmPlainPassword.touched)"
                          class="alert alert-danger">
                              Confirmez votre mot de passe !
                      </div>
  
                  </div>
                        <div class="text-right mt-4">
                          <button type="button" class="btn btn-lg btn-primary" [disabled]="!userForm.valid" (click)="changePassword()">Modifier</button>
                          <button type="button" class="btn btn-lg btn-primary" style="background-color: #1C283E; color: white; margin-left: 15px;" (click)="onCloseClick()">Fermer</button>
                        </div>
                  </div>
              </form>
        </div>
      </div>
  </div>
  </div>
  
