<div class="container border border-3 rounded center-card">
    <div class="row">
      <div class="col-xs-12 p-3">
        <h4 class="title-auth-color text-center mb-5">INSCRIPTION</h4>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input type="text" name="username" class="form-control" placeholder="Username" [formControl]="username">
                </div>
                <div class="mb-3">
                  <label class="form-label">Nom</label>
                  <input type="text" name="name" class="form-control" placeholder="name" [formControl]="name">
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input class="form-control form-control-lg" type="email"  name="email" placeholder=""  [formControl]="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" required />
                </div>
                <div class="mb-3">
                  <label class="form-label">Role</label>
                  <!--<input type="text" name="roles" class="form-control" placeholder="Role" [formControl]="roles"> -->
                  <select name="roles" class="form-control" placeholder="Role" [formControl]="roles">
                    <!-- <option value="" disabled selected></option> -->
                    <option value="ROLE_CHEF">Restaurateur</option>
                    <option value="ROLE_HOTELIER">Hôtelier</option>
                    <option value="ROLE_ADMIN">Admin</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label">Mot de passe</label>
                  <input class="form-control form-control-lg" type="password" name="plainPassword" placeholder=""  [formControl]="plainPassword"  required />
                </div>
                <div style="text-align: center">
                  <button type="submit" [disabled]="!userForm.valid" style="background-color: #0c4bc0; color: white" class="text-left btn mt-3">
                    <img *ngIf="isLoading" src="../../../../assets/img/loading.gif" alt="Loading" class="img-fluid" width="20" height="20" />
                    Valider l'inscription
                  </button>
              </div>
              <div class="alert text-danger" *ngIf="errorApi">
                  <strong>Cet E-mail est déjà utilisé.</strong><br>S'il s'agit de vous, nous vous prions de vous connecter. Merci!
              </div>
              <div class="alert text-success" *ngIf="success">
                  <img src="../../../../assets/img/check-circle.gif" alt="Check" class="img-fluid" width="40" height="30" />
                  <strong class="mt-3 ml-1 text-success">Vous avez bien été ajouté</strong>
              </div>
            </form>
      </div>
    </div>
</div>