<div class="col-md-12 mt-3">
    <div class="col-auto d-none d-sm-block">
        <p>Suppression</p>
    </div>
    <div class="alert" *ngIf="success">
        <strong class="mt-3 ml-1 text-primary">L'élément a bien été supprimé</strong>
    </div>
    <p>Etes vous sûr de supprimer cet élément : <span class="font-weight-bold text-danger">{{this.data.name}}.</span></p>
    <div style="text-align: right">
        <button (click)="deleteRestaurant()" class="btn btn-danger">Confirmer</button>
        <button (click)="onCloseClick()" style="background-color: #1C283E; color: white; margin-left: 15px;" class="text-left btn">Non</button>
    </div>

</div>