<nav class="navbar navbar-expand-lg navbar-light bg-light" name="Navbar">
    <div class="container-fluid" name="AccueilBtn">
      <a class="navbar-brand" routerLink="#">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="container-fluid" name="CatalogueBtn">
        <a class="navbar-brand" routerLink="room/list-room">Catalogue</a>
      </div>
      <div class="container"name="LogoBtn">
        <a class="navbar-brand" routerLink="#" title="logo">
          <img src="./assets/img/logo-GYFE-noir.png" alt="" width="30" height="24">
        </a>
      </div>
      <div class="container-fluid" name="SinginBtn">
        <a class="navbar-brand" routerLink="/authentication/user">S'inscrire</a>
      </div>
      <div class="container-fluid" name="LoginBtn">
        <a class="navbar-brand" routerLink="/authentication/login">Se connecter</a>
      </div>
      <div class="container-fluid" name="LoginBtn">
        <a class="navbar-brand" (click)="logout()" routerLink="/authentication/login">Se déconnecter</a>
      </div>
      <div class="container-fluid" name="MyAccountBtn">
        <i class="bi bi-person-circle"></i>
        <a class="navbar-brand" routerLink="/profile">Mon compte</a>
      </div>
  </nav>

