<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" name="Navbar">
    <div class="container-fluid" name="AccueilBtn">
      <a class="navbar-brand" routerLink="accueil">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="container-fluid" name="CatalogueBtn">
        <a class="navbar-brand" routerLink="room/list-room">Catalogue</a>
      </div>
      <div class="container"name="LogoBtn">
        <a class="navbar-brand" routerLink="#" title="logo">
          <img src="../../../assets/img/logo-GYFE-noir.png" alt="">
        </a>
      </div>
      <div class="container-fluid" name="SinginBtn">
        <a class="navbar-brand" routerLink="/authentication/user">S'inscrire</a>
      </div>
      <div class="container-fluid" name="LoginBtn">
        <a class="navbar-brand" routerLink="/authentication/login">Se connecter</a>
      </div>
      <div class="container-fluid" name="LoginBtn">
        <a class="navbar-brand" (click)="logout()" routerLink="/authentication/login">Se déconnecter</a>
      </div>
      <div class="container-fluid" name="MyAccountBtn">
        <i class="bi bi-person-circle"></i>
        <a class="navbar-brand" routerLink="/profile">Mon compte</a>
      </div>
  </nav> -->

<nav class="bg-light">
  <ul class="nav justify-content-center">
    <li class="nav-item mt-3">
      <a class="nav-link active navbar-brand color-link" aria-current="page" routerLink="home">Accueil</a>
    </li>
    <li class="nav-item dropdown mt-3">
      <a class="nav-link dropdown-toggle navbar-brand color-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Catalogues
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item navbar-brand" routerLink="room/list-room">Chambres</a>
        <li><a class="dropdown-item navbar-brand" routerLink="restaurant/list-restaurant">Restaurants</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="navbar-brand nav-link color-link" routerLink="home"><img src="../../../assets/img/logo-GYFE-noir.png" alt=""></a>
    </li>
    <li class="nav-item mt-3">
      <a class="navbar-brand nav-link color-link" href="/authentication/user">S'inscrire</a>
    </li>
    <li class="nav-item mt-3">
      <a class="navbar-brand nav-link color-link" href="/authentication/login">Se connecter</a>
    </li>
    <li class="nav-item mt-3">
      <a class="navbar-brand nav-link" routerLink="/profile"><img src="../../../assets/img/profil.png" alt="" width="15px">Mon compte</a>
    </li>
  </ul>
</nav>
 




