
<div class="container border border-3 rounded mt-5" style="width: 800px">
    <div class="row">
      <div class="col-xs-12 p-3">
        <h4 class="text-center" class="tite-color mb-5">RECUPERER MOT DE PASSE</h4>
            <form class="row g-3">
                <div class="col-md-6">
                    <div>
                        <label class="form-label">Identifiant</label>
                        <input class="form-control form-control-lg" type="email" name="email" placeholder="" />
                      </div>
                      <div class="text-left mt-4">
                        <a href="#" class="btn btn-lg btn-primary">Recuperer</a>
                        <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
                      </div>
                    </div>  
            </form>
      </div>
    </div>
</div>