<div class="card mb-3" *ngFor='let room of rooms ; let i = index;' style="max-width: 1140px; margin: auto; height: 300px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="room.image1" [alt]="" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" style="display: flex;">
        <div class="card-body">
          <h5 class="card-title">{{ room.name }}</h5>
          <p class="card-text">{{ room.descriptif }}</p>
        </div>
        <div class="underline">
        </div>
        <div class="col-md-4" style="width: 40%; margin: auto;">
          <div class="row">
            <span class="price">{{ room.price | currency: 'EUR'}}</span>
          </div>
          <div class="row">
            <button class="btn btn-lg btn-primary" type="submit" (click)="getRoom()"[routerLink]="['/list-room', room.id]">Detail</button>
          </div>
        </div>
      </div>
    </div>
  </div>
