<div class="favorite-container">
    <div class="favorite-title">
        <h5>Favoris</h5>
    </div>
    <div class="divider"></div>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>TITRE</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../../../assets/img/detail-exemple.jpg" class="img-thumbnail" alt="Image article" width="90"></td>
                    <td>Chambre pour 3</td>
                    <td><a href="/themes/red/account/orders/1"> Voir plus </a></td>
                    <td><i class="bi bi-trash"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/img/detail-exemple.jpg" class="img-thumbnail" alt="Image article" width="90"></td>
                    <td>Restaurant de luxe</td>
                    <td><a href="/themes/red/account/orders/1"> Voir plus </a></td>
                    <td><i class="bi bi-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
