<div class="forget-container">
  <div class="container border border-3 rounded mt-5" style="width: 800px">
    <div class="row">
      <div class="col-xs-12 p-3">
        <h4 class="text-center" class="tite-color mb-5">MOT DE PASSE OUBLIE</h4>
        <p>Veuillez entrer votre adresse email pour récupérer votre mot de passe</p>
            <form class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <div>
                        <label class="form-label">Email</label>
                        <input type="email" formControlName="email" class="form-control"/>
                  
                      </div>
                      <div class="button mt-4">
                        <button [disabled]="loading" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Recuperer
                      </button>
                      </div>
                      <a routerLink="../login" class="btn btn-link">Retour</a>
                    </div>  
            </form>
      </div>
    </div>
</div>
</div>

