h4 {
    text-align: center;
}

.button {
    display: grid;
}

.btn {
    width: 100px;
    margin-bottom: 20px;
    font-size: 16px;
}
.forget-container {
    width: 100%;
    height: calc(100vh - 100px);
}