<div class="card mb-3" style="max-width: 1140px; margin: auto; height: 300px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../../assets/img/vacances.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8" style="display: flex;">
      <div class="card-body">
        <h5 class="card-title">title</h5>
        <p class="card-text">descriptif</p>
      </div>
      <div class="underline">
      </div>
      <div class="col-md-4" style="width: 40%; margin: auto;">
        <div class="row">
          <span class="price">400£</span>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-lg btn-primary">Detail</button>
        </div>
      </div>
    </div>
  </div>
</div>
