<div class="change-container">
  <div class="container border border-3 rounded mt-5" style="width: 800px">
    <div class="row">
      <div class="col-xs-12 p-3">
        <h4 class="text-center" class="tite-color mb-5">MODIFIER MOT DE PASSE</h4>
            <form class="row g-3" [formGroup]="userEditForm">
                <div class="col-md-6">
                     <div class="mt-3">
                        <label class="form-label">Mot de passe</label>
                        <input class="form-control form-control-lg" type="password" name="password" placeholder="Mot de passe" [formControl]="password" />
                      </div>
                      <div class="text-left mt-4">
                        <button type="submit" class="btn btn-lg btn-primary" (click)="editUserPassword()">Modifier</button>
                      </div>
                </div>  
            </form>
      </div>
    </div>
</div>
</div>

