<div class="wrapper space-container bloc-padding">
    <div class="main">
      <main class="content">
        <div class="container-fluid p-0">
          <div class="row mb-2 mb-xl-3 m-5">
            <div class="col-md-12 mt-3">
              <div class="row">
                <div class="col-md-6" style="text-align: left;">
                    <h2 class="title-color text-success font-weight-bold">Création d'une Chambre</h2>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <button class="btn style-button title-color text-success font-weight-bold"><a class="style-button" href="/admin/room-admin-list">Listes des chambres</a></button>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <div class="row">
                          <div class="mb-3 col-md-12">
                            <label class="form-label"></label>
                            <input type="text" name="name" class="form-control"
                              placeholder="Nom du Room" [formControl]="name">
                          </div>
                        </div>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label class="form-label"></label>
                            <input type="text" name="address" class="form-control" placeholder="Adresse"
                            [formControl]="address">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label"></label>
                            <input type="text" name="zipcode" class="form-control" placeholder="Code postale"
                            [formControl]="zipcode">
                          </div>
                        </div>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label class="form-label"></label>
                            <input type="text" name="city" class="form-control" placeholder="Ville"
                            [formControl]="city">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label"></label>
                            <input type="text" name="country" class="form-control" placeholder="Pays"
                            [formControl]="country">
                          </div>
                        </div>
                        <div class="mb-3 col-md-12">
                          <label class="form-label">Descriptif de l'Hotel:</label>
                          <textarea class="form-control" rows="3" [formControl]="descriptif"></textarea>
                        </div>
                        <div class="mt-3 col-md-12">
                          <label class="custom-file-label">Image de la chambre:</label>
                          <input type="file" class="form-control custom-file-input" name="image1" [formControl]="image1">
                        </div>
                      </div>
                      <div class="mb-3 col-md-6">
                        <div class="row">
                          <div class="mb-3 col-md-8">
                            <label class="form-label"></label>
                            <select name="isKingSize" class="form-control form-select" [formControl]="isKingSize" required>
                              <option [ngValue]="true">Grand</option>
                              <option [ngValue]="false">Petit</option>
                            </select>
                          </div>
                          <div class="mb-3 col-md-4">
                            <label class="form-label"></label>
                            <input type="text" name="price" class="form-control" placeholder="Prix"
                            [formControl]="price">
                          </div>
                        </div>
                        <div class="row">
                          <div class="mb-3 col-md-8">
                            <label class="form-label"></label>
                            <input type="number" name="nbBed" class="form-control" placeholder="Nombre de lit"
                            [formControl]="nbBed">
                          </div>
                          <div class="mb-3 col-md-4">
                            <label class="form-label"></label>
                            <input type="number" name="squarFeet" class="form-control" placeholder="Nombre de m2"
                            [formControl]="squarFeet">
                          </div>
                        </div>
                        <div class="col-md-12 mb-5" style="margin-top: 38px;">
                          <input type="file" class="form-control custom-file-input" name="image2" [formControl]="image2">
                        </div>
                      </div>
                    </div>
                    <div style="text-align: center">
                      <button type="submit" style="background-color: #1C283E; color: white;"
                        class="text-left btn">Valider</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  
  